<style>
  :root {
    --ANNOUNCEMENT-HEIGHT-DESKTOP: max(calc(var(--font-2) * var(--FONT-ADJUST-BODY) * var(--line-height-normal)), 36px);
    --ANNOUNCEMENT-HEIGHT-MOBILE: max(calc(var(--font-2) * var(--FONT-ADJUST-BODY) * var(--line-height-normal)), 36px);
  }
</style>

<div
  id="Announcement--{{ section.id }}"
  class="announcement__wrapper announcement__wrapper--top"
  data-announcement-wrapper=""
  data-section-id="{{ section.id }}"
  data-section-type="announcement"
  style="
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
    --ticker-direction: ticker-rtl;
    --bg: {{ section.settings.bg_color }};
    --bg-transparent: {{ section.settings.bg_color | color_modify: 'alpha', 0 }};
    --text: {{ section.settings.text_color }};
    --link: {{ section.settings.link_color }};
    --link-hover: {{ section.settings.link_hover_color }};
    --text-size: var(--font-2);
    --text-align: center;
    --justify-content: center;
  "
>
  <announcement-bar class="announcement__bar-outer" style="--padding-scrolling: 10px;">
    <div class="announcement__bar-holder announcement__bar-holder--slider">
      <div
        class="announcement__slider flickity-enabled is-draggable is-fade"
        data-slider=""
        data-options='{"fade": true, "pageDots": false, "adaptiveHeight": false, "autoPlay": {{ section.settings.autoplay_speed }}, "prevNextButtons": false, "draggable": ">1"}'
      >
        <div class="flickity-viewport">
          <div class="flickity-slider">
            {% for block in section.blocks %}
              <ticker-bar
                class="announcement__slide announcement__bar flickity-cell{% if forloop.first %} is-selected{% endif %}"
                data-slide="{{ block.id }}"
                data-slide-index="{{ forloop.index0 }}"
                data-block-id="{{ block.id }}"
                {{ block.shopify_attributes }}
              >
                <div data-ticker-frame="" class="announcement__message">
                  <div data-ticker-scale="" class="announcement__scale">
                    <div data-ticker-text="" class="announcement__text">
                      <div class="body-size-2">
                        {{ block.settings.text }}
                      </div>
                    </div>
                  </div>
                </div>
                <div data-ticker-text="" class="announcement__text ticker__comparitor">
                  <div class="body-size-2">
                    {{ block.settings.text }}
                  </div>
                </div>
              </ticker-bar>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </announcement-bar>
</div>

{% schema %}
{
  "name": "Announcement Bar HiStrips",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "link_hover_color",
      "label": "Link Hover Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "min": 3000,
      "max": 15000,
      "step": 1000,
      "unit": "ms",
      "label": "Autoplay Speed",
      "default": 7000
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Announcement",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p><strong>BLACK FRIDAY: 30% OFF + WIN 20,000$</strong></p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement Bar HiStrips",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<p><strong>BLACK FRIDAY: 30% OFF + WIN 20,000$</strong></p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "text": "<p><strong>30-day </strong>money-back guarantee</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
